* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header {
    width: 100%;
    height: 56px;
    padding: 0 30px;
    background: #444;
}
.logo {
    width: 76px;
    height: 56px;
    line-height: 56px;
    float: left;
    margin-right: 30px;
    background: transparent;
    color: #fff;
}
.logo a:hover {
    opacity: 0.6;
}
.navigation {
    display: flex;
    justify-content: space-between;
    height: 56px;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-item {
    margin-right: 20px;
    font-size: 15px;
    position: relative;
}
.menu-item a {
    text-decoration: none;
    color: #999;
}
.menu-item a:hover {
    color: #fff;
}
.menu-item a:focus {
    color: #fff;
}
.search-form {
    width: 220px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #fff;
    background: #fff;
    display: flex;
}
.fa-search {
    color: #999;
    width: 15px;
    height: 13px;
    float: left;
    margin: 5px;
    opacity: 0.6;
}
.search-bar {
    width: 192px;
    height: 23px;
    border: none;
    outline: none;
}
.search-bar::placeholder {
    opacity: 0.6;
    font-size: 14px;
}
.fa-ellipsis-h {
    font-size: 20px;
}
.drpdwn-content {
    background: #444;
    width: 180px;
    position: absolute;
    z-index: 1;
    top: 16px;
    left: -10px;
    border-radius: 5px;
    display: none;
    padding: 18px 0px;
}
.menu-item:hover .drpdwn-content {
    display: block;
}
.drpdwn-content li {
    list-style: none;
    padding: 5px 10px;
}
.drpdwn-content li:hover {
    background: rgba(255, 255, 255, 0.1)
}
.head-content {
    display: flex;
    flex-direction: column;
    background: #66BAFA;
}
.headline {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 1056px;
    height: 356px;
    align-items: center;
    overflow: hidden;   
}
.headline-text {
    width: 580px;
    height: 240px;  
}
.headline-text h2 {
    color: #101118;
    font-size: 48px;
    margin: 16px 0;
}
.headline-text p {
    color: #4229A5;
    font-size: 20px;
    margin: 16px 0;
}
.headline-text button {
    color: #fff;
    background: #ea4c89;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
}
.headline-text button:hover {
    background: #df3e7b;
}
.headline-gif img{
    width: 475px;
    height: 356px;
}
.headline-foot {
    width: 1056px;
    height: 19px;
    margin: 16px auto 32px auto;
    color: #4229A5;
    font-size: 16px;
}
.headline-foot a {
    color: #101118;
}
.headfoot {
    width: 100%;
    height: 51px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
}
.headfoot-menu {
    margin-right: 10px;
    font-size: 15px;
    position: relative;
    font-weight: 500;
}
.fa-chevron-down {
    color: rgba(68, 68, 68, 0.6);
}
.headfoot-menu span {
    padding: 0 8px;
}
.headfoot-menu a {
    text-decoration: none;
    color: #444;
}
.headfoot-menu-drpdwn-content {
    background: #fff;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 0px;
    border-radius: 5px;
    display: none;
    padding: 12px 0px;
}
.headfoot-menu:hover .headfoot-menu-drpdwn-content {
    display: block;
}
.headfoot-menu-drpdwn-content li {
    list-style: none;
    padding: 5px 10px;
    font-size: 12px;
    color: rgba(68, 68, 68, 0.6); 
}
.headfoot-menu-drpdwn-content li:hover {
    background: #eee;
}
.center-content {
    background: rgba(238, 238, 238,0.4);
    width: 100%;
    padding: 30px;
}
.content-grids {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}
.grid-items {
    width: 220px;
    height: 218px;
    background: rgba(238, 238, 238,0);
    margin: 10px;
}
.grid-item-cont {
    width: 220px;
    height: 191px;
    background: #fff;
    padding: 10px;
    color: #999;
    text-align: right;
    font-size: 13px;
    position: relative;
}
.like {
    display: none;
    position: absolute;
    top:110px;
    right: 95px;
    background: #fff;
    padding: 6px 13px;
    border-radius: 5px;
}
.save {
    right: 20px;
}
.like a {
    text-decoration: none;
    font-size: 14px;
    color: #444;
    font-weight: 600;
}
.far:after {
    display: none;
}
.far {
    padding-right: 5px;
}
.grid-item-cont:hover .like {
    display: block;
}
.grid-icons {
    height: 21px;
}
.fa-eye:after {
    content: "3252";
    font-size: 13px;
    padding-left: 3px;
    padding-right: 5px;
    line-height: 21px;
}
.fa-comment:after {
    content: "8";
    font-size: 13px;
    padding-left: 3px;
    padding-right: 5px;
}
.fa-heart:after {
    content: "408";
    font-size: 13px;
    padding-left: 3px;
}
.grid-user-icon {
    height: 220px;
    height: 27px;
    padding: 5px;
}
.grid-user-icon a {
    display: block;
    width: 220px;
    height: 17px;
    font-size: 13px;
    text-decoration: none;
    color: #3a8bbb;
    font-weight: 600;
}
.grid-user-icon img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: sub;
}
.foot-bnt {
    display: block;
    width: 400px;
    margin: 0 auto;
}
.foot-bnt a {
    text-decoration: none; 
}
.ftbtn1  {
    width: 400px;
    background: #ea4c89;
    padding: 15px 12px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
}
.ftbtn1:hover {
    background: #df3e7b;
}
.ftbtn2 {
    text-align: center;
    padding: 15px;
    color: #3a8bbb;
    font-size: 15px;
}
.ftbtn2:hover {
    color: #1e6189;
}
.footer {
    background: #fff;
    width: 100%;
    padding: 30px;
    color: #999;  
}
.ftr-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about {
    width: 20%;
}
.ftr-logo img {
    display: block;
    width: 80px;
    height: 20px;
}
.ftr-content h3 {
    font-size: 17px;
    margin: 10px 0 15px 0;
}
.ftr-logo p {
    width: 280px;
    font-size: 13px;
}
.social {
    margin-top: 25px;
    font-size: 25px;
}
.social a {
    text-decoration: none;
    color: #999;
    margin-right: 10px;
}
.social a:hover {
    color: #101118;
}
.ftr-dribb {
    width: 20%;
}
.ftr-content li {
    list-style: none;
    font-size: 14px;
    padding-top: 10px;
}
.ftr-hirr {
    width: 20%;
}
.ftr-job {
    width: 20%;
}
.ftr-job-prs {
    margin-bottom: 15px;
}
.ftr-job-prs img {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: text-top;
    border-radius: 50%;   
}
.ftr-job-title {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #3a8bbb;
}
.ftr-job-desc {
    display: block;
    font-size: 13px;
    color: #999;
    padding-left: 35px;
    margin-top: -13px;
}
.ftr-ads {
    width: 20%;  
}
.ftr-ads-logo {
    display: flex;
    flex-direction: row;
}
.ftr-ads-logo img {
    width: 130px;
    height: 100px;
    margin-right: 15px;
}
.ftr-ads-text {
    display: flex;
    flex-direction: column;
}
.ftr-ads-text a {
    font-size: 13px;
    color: #757575;
    text-decoration: none;
    padding-bottom: 10px;
}
.ftr-ads-logo-btn {
    margin-top: 30px;
}
.ftr-ads-logo-btn img {
width: 50px;
height: 60px;
}
.ftr-ads-text-btn {
    margin-top: 5px;
}
.ftr-ads-text-btn strong {
    font-size: 24px;
    color: #101118;
}
.ftr-copy {
    margin-top: 20px;
    font-size: 13px;
    font-weight: bold;
}
.fa-copyright {
    font-size: 11px;
}